@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Monument Extended;
        font-weight: 400;
        src: url(/fonts/monumentextended-regular-webfont.woff), url(/fonts/monumentextended-regular-webfont.woff2);
    }

    @font-face {
        font-family: Titillium Web;
        font-weight: 700;
        src: url(/fonts/titilliumweb-bold-webfont.woff), url(/fonts/titilliumweb-bold-webfont.woff2);
    }

    @font-face {
        font-family: Titillium Web;
        font-weight: 600;
        src: url(/fonts/titilliumweb-semibold-webfont.woff), url(/fonts/titilliumweb-semibold-webfont.woff2);
    }

    @font-face {
        font-family: Titillium Web;
        font-weight: 400;
        src: url(/fonts/titilliumweb-regular-webfont.woff), url(/fonts/titilliumweb-regular-webfont.woff2);
    }

    ::selection {
        background: #fff;
        color: #000;
    }

    html {
        scroll-behavior: smooth;
    }

    .text-outline-0 {
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: white;
    }
    
    .text-outline-1 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .hover-underline {
        position: relative;
        display: inline-block;
        color: #000;
    }

    .hover-underline:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #000;
        transform: scaleX(0);
        height: 1px;
        width: 100%;
        transform-origin: bottom right;
        transition: transform 0.25s ease-in-out;
    }

    .hover-underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}


